header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 20px 0;
}
.header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: 600px;
    list-style: none;
}
.nav-link {
    all: unset;
    font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #83888F;
margin-left: 35px;
}
.nav-link:hover {
    color: #333D4B;
    border-bottom: 1px solid #000;
}
